.rob-summary > nav {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    color: #364149 !important;
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-font-smoothing: antialiased;
}

.rob-summary > nav > a:visited {
    color: #364149;
}

.summary {
    list-style: none !important;
    padding: 0;
    margin: 20px 0 0 0;
}

.chapter-text {
    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #364149 !important;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
}

.chapter-text a:visited {
    color: #364149 !important;
}

.chapter-text:hover {
    color: #67B39B !important;
}

.menu-image {
    max-width: 200px;
    max-height: 200px;
    padding: 40px 0 0 50px;
}

.menu-main-heading {
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    font-size: 2em;
}

.menu-secondary-heading {
    text-align: center;
}

.menu-line-break {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.articles {
    list-style: none !important;
}