.socialMediaButton {
    float: left;
    position: relative;
    height: 30px;
    transition: .1s ease;
    background: rgba(255, 255, 255,.3);
    color: #f3f3f3;
    line-height: 30px;
    margin-right: 8px;
    min-width: 30px;
    padding: 0;
    user-select: none;
    border-radius: 10%;
}

.buttonContent {
    color: #fff;
    text-decoration: none;
    font-size: 1pc;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    width: 30px;
    -webkit-font-smoothing: antialiased;
}

.socialMediaButton:hover {
    background: rgba(255, 255, 255,.2);
}