.skill {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(100%);
}

.skill:hover {
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(0%);
}

.skill-section-spacer {
    padding-top: 30px;
}

.skill-heading {
    padding-top: 10px;
    margin-top: 1.275em;
    margin-bottom: .85em;
    font-weight: 700;
    font-size: 1.5em;
    color: #333;
    line-height: 1.7;
}

.skill-description {
    word-wrap: break-word;
    color: #333;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    padding-top: 15px;
}

.skill-usedIn {
    word-wrap: break-word;
    color: #333;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    padding-top: 20px;
}

.skill ol {
    color: #ccc;
    list-style-type: none;
}

.skill ol li {
    position: relative;
    font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
    margin-bottom: 20px;
}

.skill li p {
    font: 15px/1.7 Helvetica, sans-serif;
    padding-left: 60px;
    /*word-wrap: break-word;*/
    color: #333;
    text-rendering: optimizeLegibility;
    padding-top: 6px;
}

span {
    position: absolute;
    font-size: 0.6em;
}

.skill-image {
    max-height: 66px;
    max-width: 66px;
    float: left;
    padding-right: 20px;
}

.skill-image:hover {
    max-height: 66px;
    max-width: 66px;
    float: left;
    padding-right: 20px;
}