@media only screen and (max-width: 768px) {
    .portfolio-page {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        text-rendering: optimizeLegibility;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

@media only screen and (min-width: 768px) {
    .portfolio-page {
        left: 333px;
        position: absolute;
        right: 0;
        top: 20px;
        text-rendering: optimizeLegibility;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.page-inner {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
}