@media only screen and (max-width: 768px) {
    .portfolio-page {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        text-rendering: optimizeLegibility;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

@media only screen and (min-width: 768px) {
    .portfolio-page {
        left: 333px;
        position: absolute;
        right: 0;
        top: 20px;
        text-rendering: optimizeLegibility;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.page-inner {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}