@media only screen and (max-width: 768px) {
    .portfolio-page {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media only screen and (min-width: 768px) {
    .portfolio-page {
        left: 333px;
        position: absolute;
        right: 0;
        top: 20px;
    }
}

.page-inner {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px;
}